<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="StockFinder.StockLookup">
        <endpoint
          address="http://localhost:1701/Stock"
          binding="wsHttpBinding"
          contract="StockFinder.IStockLookup" />
        <!-- Address Binding Contract == ABC -->
      </service>
    </services>
  </system.serviceModel>
</configuration>
