<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EnableMetadata">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="StockFinder.StockLookup" behaviorConfiguration="EnableMetadata">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1701/"/>
            <add baseAddress="net.tcp://localhost:1703/"/>
          </baseAddresses>
        </host>
        <endpoint
          address="Stock"
          binding="wsHttpBinding"
          contract="StockFinder.IStockLookup" />
        <endpoint
          address="Stock2"
          binding="netTcpBinding"
          contract="StockFinder.IStockLookup" />
        <!-- Address Binding Contract == ABC -->
      </service>
    </services>
  </system.serviceModel>
</configuration>
